.About {
  /* min-height: calc(100vh - 1rem); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 
.About img {
  border-radius: 50%;
}

.About > div {
  text-align: center;
}
