.Contact {
  min-height: var(--bottom-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.Contact-container {
  border: 2px solid black;
  max-width: 600px;
  width: 100%;
  border-radius: 3px;
  display: flex;
}

.Contact-img-container {
  background-color: white;
  padding: 2rem;
}

.Contact-info-container {
  padding: 1rem 2rem;
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
}

.Contact-info-span {
  display: inline-block;
}

.Contact-email {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

.Contact-email:hover {
  color: var(--name-color);
}

/* Media Queries */

@media screen and (max-width: 620px) {
  .Contact-container {
    flex-direction: column;
  }

  .Contact-img-container {
    text-align: center;
  }
}

@media screen and (max-width: 445px) {
  .Contact-email{
    display: block;
    margin: 0.5rem 0;
  }
}
