.Courses {
  min-height: var(--bottom-footer);
  color: black;
}

.Courses-online-title {
  margin: 2rem 0;
  text-align: center;
}

.Courses-main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.coursesInnerContainer {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}



@media screen and (max-width: 670px) {
    .Courses-bootcamps-container {
        grid-template-columns: 1fr;
    }
}
