.Top {
  flex-grow: 1;
  color: white;
}

.Top a {
  margin: 1rem;
  color: inherit;
  transition: all 0.2s ease-in;
}

.active-link {
  color: var(--name-color);
}

.Top a:hover {
  color: var(--name-color);
}

.Top .header {
  background-color: #0a0808 !important;
}

.Top header > div {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.Top .nameColor {
  color: var(--name-color);
}

.Top header h2 {
  /* font-size: 1.5rem; */
  flex-grow: 1;
}

